.col{
  border: 1px solid #afafaf;
}
.row{

}
.evenRow {
  background-color: #f5f5f5;
}

/*
.sectionCol{
  border-right: 1px solid #afafaf;
}

.normalCol{
  border-right: 1px solid #f5f5f5;
}

.cell {
  padding: 3px;
}*/
