.col{
  border-right: 1px solid #cbced7;
  /*min-height: 25px;*/
  margin: 0;
  padding: 0;
  height: 25px;
}
.regularColumn{
  padding: 0 5px;
}
.stickyColumn{
  font-weight: bold;
  padding: 0 5px;  
}

.row{
}
.evenRow {
  background-color: #f4f4f8;
}
