.container{
  height: 60vh;
  width: auto;
  overflow-x: auto;
}

.pivotTable {
  width: 100%;
  border-collapse: collapse;
}

.stickyHeaderWrapper {
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
}

.stickyHeaderInnerWrapper {
  position: absolute;
}

.stickyHeader {
  border-collapse: collapse;
  position: absolute;
  background-color: white;
}

.hiddenThead {
  visibility: hidden;
}

.stickyRowsPanel {
  position: absolute;
  background-color: white;
  overflow-y: hidden;
}
