.paramsContainer {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.paramWrapper {
  display: flex;
  flex-direction: row;
  width: 30%;
  margin: 10px 0;
}

.paramInput {
  width: 100%;
}

.paramInputContainer{
  flex: 1;
}

.buttonContainer{
  display: flex;
  margin: 10px;
}
